@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: local("DM Sans Regular"), local("DMSans-Regular"), url("/dmsans-regular-webfont.be611b76.woff2") format("woff2"), url("/dmsans-regular-webfont.f8562f41.woff") format("woff"), url("/DMSans-Regular.51277dd6.ttf") format("truetype");
}
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: local("DM Sans Medium"), local("DMSans-Medium"), url("/dmsans-medium-webfont.5b4f4aef.woff2") format("woff2"), url("/dmsans-medium-webfont.ddee6f9c.woff") format("woff"), url("/DMSans-Medium.4e4c8d12.ttf") format("truetype");
}
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: local("DM Sans Bold"), local("DMSans-Bold"), url("/dmsans-bold-webfont.9de52924.woff2") format("woff2"), url("/dmsans-bold-webfont.d3aaed53.woff") format("woff"), url("/DMSans-Bold.0d25dc20.ttf") format("truetype");
}
@font-face {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  src: local("Titan One"), local("TitanOne"), url("/titanone-regular-webfont.a8ce662b.woff2") format("woff2"), url("/titanone-regular-webfont.ce28ff74.woff") format("woff"), url("/TitanOne-Regular.c4ed25d0.ttf") format("truetype");
}
.site-nav__link, .logo-title {
  text-decoration: none;
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

button {
  border: none;
  font: inherit;
  cursor: pointer;
}

.button {
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  background: #d41443;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 22px;
  padding: 10px 32px;
  min-width: 200px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  outline: none;
}
@media screen and (max-width: 767px) {
  .button {
    margin-bottom: 10px;
  }
}
.button:hover {
  background: #c7133e;
}
.button__icon {
  position: absolute;
  bottom: 5px;
  width: 20px;
  height: 30px;
  margin-left: 10px;
  fill: #ffffff;
}

.button__white {
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  border-radius: 22px;
  padding: 10px 32px;
  min-width: 200px;
  background: #ffffff;
  color: #d41443;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  outline: none;
}
.button__white:hover {
  background: #ecebeb;
}
.button__white .button__icon {
  position: absolute;
  width: 20px;
  height: 30px;
  margin-left: 10px;
  fill: #d41443;
}

body {
  font-weight: 500;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.76;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 114px;
    padding-right: 114px;
  }
}

.header-page {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  background-color: #ffb8ca;
  padding-top: 6px;
  padding-bottom: 4px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .header-container {
    align-items: center;
    padding-top: 36px;
    padding-bottom: 8px;
  }
}

.header-page__menu-button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;
  margin-bottom: 20px;
}
.header-page__menu-button .header-page__menu-button-close {
  display: none;
}
.header-page__menu-button.is-open .header-page__menu-button-close {
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
}
.header-page__menu-button.is-open .header-page__menu-button-burger {
  display: none;
}
.header-page__menu-button-icons {
  width: 26px;
  height: 26px;
  padding-top: 2px;
}
@media (min-width: 768px) {
  .header-page__menu-button-icons {
    display: none;
  }
}
.header-page__menu-button-burger {
  fill: #d41443;
}
.header-page__menu-button-close {
  fill: #ffffff;
}

.logo-title {
  display: flex;
  align-items: center;
  font-family: Titan One;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #d41443;
}

.header-page__logo {
  width: 50px;
  height: 50px;
  fill: #ffffff;
  background: #d41443;
  border-radius: 50%;
  margin-right: 20px;
}

.header__menu-container {
  padding-top: 60px;
  filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  transform: translatex(100%);
  opacity: 0;
  background-color: #e17992;
  transition: 0.5s ease-in-out;
}
@media (min-width: 768px) {
  .header__menu-container {
    width: 33%;
  }
}
.header__menu-container.is-open {
  opacity: 1;
  transform: translatey(0%);
}

@media (min-width: 768px) {
  .header__menu-container {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .site-nav {
    display: flex;
    justify-content: center;
  }
}
.site-nav__link {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  display: block;
  margin-top: 11px;
  margin-bottom: 11px;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #d41443;
}
.site-nav__item {
  padding-left: 20px;
  border-top: 1px solid #E18298;
  width: 100%;
}
@media (min-width: 768px) {
  .site-nav__item {
    padding-left: 24px;
  }
}
.site-nav__item:last-child {
  border-bottom: 1px solid #E18298;
}

.buynow-extra-menu,
.buynow-header-btn {
  display: block;
  color: #d41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  background: #ffffff;
  border-radius: 22px;
  border: none;
  padding: 10px 48px;
  width: 100%;
  margin-bottom: 20px;
}
.buynow-extra-menu::hover, .buynow-extra-menu::focus,
.buynow-header-btn::hover,
.buynow-header-btn::focus {
  background: #ecebeb;
}
.buynow-extra-menu::after,
.buynow-header-btn::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 5px;
  height: 8px;
  background-image: url("/menu-vector-arrow.f0941644.svg");
  fill: #d41443;
}
@media (min-width: 1280px) {
  .buynow-extra-menu,
.buynow-header-btn {
    display: none;
  }
}

@media (min-width: 320px) {
  .buynow-header-btn {
    display: none;
  }
}
@media (min-width: 768px) {
  .buynow-header-btn {
    display: block;
  }
}

.buy-in-menu-container {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .buy-in-menu-container {
    padding-left: 34px;
    padding-right: 34px;
  }
}

.hero {
  padding-bottom: 114px;
  background-color: #ffb8ca;
  background-image: url(/slider-pic7.43cc47b1.png), url(/ellipse-hero.a766d0fc.png);
  background-position: 117px bottom, 36px 83px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .hero {
    background-image: url(/slider-pic7.20dfbc4d.png), url(/ellipse-hero-tab.6e94a2a5.png);
  }
}
@media (min-width: 1280px) {
  .hero {
    background-image: url(/slider-pic7.c7410162.png), url(/ellipse-hero-desk.c5f7bea4.png);
  }
}
.hero__title {
  padding-top: 193px;
  font-family: "Titan One";
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
}
.hero__title--passion {
  font-size: 48px;
  line-height: 1.04;
  color: #d41443;
}

.quality {
  background-color: #fff5f6;
  margin-right: 0px;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .quality {
    padding-top: 33px;
  }
}
@media (min-width: 1280px) {
  .quality {
    padding-top: 20px;
  }
}

.quality__list {
  padding-left: 20px;
  padding-bottom: 97px;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .quality__list {
    display: flex;
    padding-left: 36px;
    padding-bottom: 140px;
  }
}
@media (min-width: 1280px) {
  .quality__list {
    padding-left: 115px;
  }
}

.quality__items {
  list-style-type: none;
}

.quality__items:not(:last-child) {
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .quality__items:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 60px;
  }
}
@media (min-width: 1280px) {
  .quality__items:not(:last-child) {
    margin-right: 30px;
  }
}

.quality__title {
  margin-bottom: 16px;
  width: 98px;
  font-family: "Titan One";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media (min-width: 768px) {
  .quality__title {
    width: 147px;
    font-size: 58px;
    line-height: 66px;
  }
}

.quality__items svg {
  fill: palevioletred;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .quality__items svg {
    margin-bottom: 36px;
  }
}

.quality__text {
  margin-bottom: 0px;
  width: 230px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: #000000;
}
@media (min-width: 768px) {
  .quality__text {
    width: 180px;
    font-size: 14px;
    line-height: 174%;
  }
}
@media (min-width: 1280px) {
  .quality__text {
    width: 330px;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;
  }
}

.gallery {
  background: linear-gradient(180deg, #fff5f6 40%, white 40%, white 100%);
}

.gallery__title {
  display: none;
}

.gallery__picture {
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .gallery__picture {
    padding-bottom: 60px;
  }
}

.reviews {
  padding-top: 80px;
  padding-bottom: 86px;
}

.reviews__img {
  width: 85px;
}

.reviews__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 280px;
}
@media screen and (min-width: 769px) and (max-width: 1279px) {
  .reviews__item {
    width: 100%;
    max-width: 600px;
  }
}
@media screen and (min-width: 1280px) {
  .reviews__item {
    max-width: 950px;
  }
}

.test {
  margin-top: 15px;
  background-color: rgba(250, 250, 250, 0.4);
  background-image: url(/element.98f36b97.png);
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .test {
    padding-top: 36px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    background-position-x: 55px;
    background-position-y: 15px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1279px) {
  .test {
    padding-top: 47px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 28px;
    background-position-x: 85px;
    background-position-y: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .test {
    padding-top: 35px;
    padding-right: 90px;
    padding-left: 90px;
    padding-bottom: 28px;
    background-position-x: 90px;
    background-position-y: 15px;
  }
}

@media screen and (max-width: 768px) {
  .test-2 {
    background-image: linear-gradient(180deg, transparent 47.62%, #cccccc 47.62%, #cccccc 50%, transparent 50%, transparent 97.62%, #cccccc 97.62%, #cccccc 100%);
    background-size: 42px 42px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1279px) {
  .test-2 {
    background-image: linear-gradient(180deg, transparent 47.92%, #cccccc 47.92%, #cccccc 50%, transparent 50%, transparent 97.92%, #cccccc 97.92%, #cccccc 100%);
    background-size: 48px 48px;
  }
}
@media screen and (min-width: 1280px) {
  .test-2 {
    background-image: linear-gradient(180deg, transparent 48.21%, #cccccc 48.21%, #cccccc 50%, transparent 50%, transparent 98.21%, #cccccc 98.21%, #cccccc 100%);
    background-size: 56px 56px;
  }
}

@media screen and (max-width: 768px) {
  .reviews__text {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1279px) {
  .reviews__text {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .reviews__text {
    font-size: 16px;
    padding-left: 28px;
    padding-right: 35px;
  }
}

img {
  display: block;
  width: inherit;
  height: inherit;
}

.cow {
  padding: 125px 0 0 0;
  margin: 0;
  color: #907E82;
  font-family: "DM Sans";
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  overflow-x: hidden;
  /* background-color: lightblue; */
}

.cow--background {
  background-color: #FFF5F6;
}

.cow__title {
  margin: 0 20px 55px 20px;
  text-align: center;
  color: #D41443;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-transform: uppercase;
}
@media screen and (min-width: 320px) {
  .cow__title {
    margin: 0 60px 26px 60px;
  }
}
@media screen and (min-width: 772px) {
  .cow__title {
    margin: 0 171px 50px 171px;
    font-size: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .cow__title {
    margin: 0 auto 55px auto;
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

/* cow-conteiner */
.cow-conteiner {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .cow-conteiner {
    width: 320px;
  }
}
@media screen and (min-width: 772px) {
  .cow-conteiner {
    width: 772px;
  }
}
@media screen and (min-width: 1280px) {
  .cow-conteiner {
    width: 1280px;
  }
}

.cow-conteiner__title {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;
  color: #FFA5BA;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.15;
  text-transform: uppercase;
}
@media screen and (min-width: 772px) {
  .cow-conteiner__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1280px) {
  .cow-conteiner__title {
    font-size: 30px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.about {
  display: block;
  padding: 0;
}
@media screen and (min-width: 772px) {
  .about {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 36px 0 0;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding: 0 117px 0 0;
    background-image: url(/milk.0a0970c7.png);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
  }
}

.cow-conteiner__img {
  display: block;
  width: 100%;
  margin: 0 auto 46px auto;
}
@media screen and (max-width: 320px) {
  .cow-conteiner__img {
    max-width: 280px;
  }
}
@media screen and (min-width: 320px) {
  .cow-conteiner__img {
    margin: 0 20px 46px 20px;
    width: 280px;
    height: 279px;
  }
}
@media screen and (min-width: 772px) {
  .cow-conteiner__img {
    margin: 0 17px 0 39px;
    width: 340px;
    height: 339px;
  }
}
@media screen and (min-width: 1280px) {
  .cow-conteiner__img {
    margin: 0 74px 39px 112px;
    width: 516px;
    height: 516px;
  }
}

.cow-conteiner__description {
  display: block;
  margin: 0 50px 40px 50px;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  letter-spacing: 0em;
  color: #000000;
}
@media screen and (min-width: 772px) {
  .cow-conteiner__description {
    margin: 50px 36px 49px 0;
    width: 340px;
    font-size: 14px;
    line-height: 1.76;
  }
}
@media screen and (min-width: 1280px) {
  .cow-conteiner__description {
    margin: 60px 117px 35px 0;
    width: 463px;
    font-size: 16px;
    letter-spacing: 0.04em;
  }
}

.cow-conteiner__information {
  display: block;
}
@media screen and (max-width: 771px) {
  .cow-conteiner__information {
    margin: 0 0 40px 0;
    background-image: url(/milk-320.f3d84efc.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 772px) {
  .cow-conteiner__information {
    margin: 0 36px 62px 0;
    width: 340px;
  }
}
@media screen and (min-width: 1280px) {
  .cow-conteiner__information {
    margin: 0 117px 45px 0;
    width: inherit;
  }
}

.cow-conteiner__text {
  display: block;
  margin: 0 50px 17px 50px;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 772px) {
  .cow-conteiner__text {
    margin: 0 0 17px 0;
    font-size: 14px;
    line-height: 1.76;
  }
}
@media screen and (min-width: 1280px) {
  .cow-conteiner__text {
    margin: 0 0 30px 0;
    width: 463px;
    line-height: 1.94;
  }
}

.break {
  display: block;
}
@media screen and (min-width: 772px) {
  .break {
    display: inline;
  }
}

.cow-button {
  display: flex;
  padding: 0;
  margin: 0 auto 39px auto;
  width: 176px;
  height: 44px;
  border: 1px solid transparent;
  border-radius: 22px;
  background-color: #FFFFFF;
  color: #D41443;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) {
  .cow-button {
    margin: 0 94px 39px 50px;
  }
}
@media screen and (min-width: 772px) {
  .cow-button {
    margin: 0 200px 66px 0;
  }
}
@media screen and (min-width: 1280px) {
  .cow-button {
    margin: 0 404px 146px 0;
  }
}

.cow-button:hover,
.cow-button:focus {
  background-color: #ECEBEB;
}

.cow-button__icon {
  padding: 0;
  margin-left: 13px;
  width: 6px;
  height: 10px;
  color: #D41443;
  fill: transparent;
}

.contacts {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 60px;
  padding-bottom: 80px;
  background: linear-gradient(180deg, white 13%, #fff5f6 13%);
}
.contacts__flexbox {
  margin-bottom: 54px;
}
@media (min-width: 768px) {
  .contacts__flexbox {
    display: flex;
    margin-bottom: 86px;
  }
}
@media (min-width: 768px) {
  .contacts {
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media (min-width: 1280px) {
  .contacts {
    padding-left: 115px;
    padding-right: 115px;
  }
}
.contacts__card {
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .contacts__card {
    width: calc((100% - 20px * 2) / 3);
  }
  .contacts__card:not(:last-child) {
    margin-right: 20px;
  }
}
@media (min-width: 1280px) {
  .contacts__card:not(:last-child) {
    margin-right: 30px;
  }
}
.contacts__content {
  padding: 43px 20px;
}
@media (min-width: 768px) {
  .contacts__content {
    padding: 50px 30px;
  }
}
.contacts__text {
  display: block;
  color: #907e82;
  font-size: 12px;
  line-height: 1.5;
}
@media (min-width: 1280px) {
  .contacts {
    background-image: url(/contacts-bg.c184ff45.png), linear-gradient(180deg, white 13%, #fff5f6 13%);
  }
}

.contacts__item:not(:last-child) {
  padding-bottom: 25px;
}
@media (min-width: 320px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 25px;
    border-bottom: 1px solid #e1e1e1;
  }
}

.contacts__title {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f0d1a5;
}
.contacts__title--mb {
  margin-bottom: 25px;
}
.contacts__title--mint {
  background-color: #c2e297;
}
.contacts__title--black {
  display: block;
  padding-left: 0;
  padding-right: 0;
  color: #000000;
  text-transform: none;
  background-color: transparent;
}
.contacts__title--pink {
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  color: #FFA5BA;
  background-color: transparent;
}

@media (min-width: 768px) {
  .contacts .button:not(:last-child), .button__white:not(:last-child) {
    margin-right: 15px;
  }
}

@media (min-width: 768px) {
  .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button-group .button__white {
    margin-left: 0;
  }
}

.footer__container {
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .footer__container {
    width: 320px;
  }
}
@media screen and (min-width: 772px) {
  .footer__container {
    width: 772px;
    padding: 0 36px;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container {
    width: 1280px;
    padding: 0 114px;
  }
}

.footer {
  background-color: #fff5f6;
}

.footer__main {
  width: 232px;
  color: #ffa5ba;
  text-align: start;
  text-transform: uppercase;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.15;
  margin-bottom: 17px;
}
@media screen and (min-width: 772px) {
  .footer__main {
    font-size: 26px;
    width: 340px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__main {
    width: 100%;
    font-size: 30px;
  }
}

.footer__secondary {
  width: 200px;
  color: #d41443;
  text-transform: uppercase;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  margin-bottom: 43px;
}
@media screen and (min-width: 772px) {
  .footer__secondary {
    width: 340px;
    font-size: 48px;
    margin-bottom: 91px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__secondary {
    width: 100%;
    font-size: 58px;
  }
}

.footer__text {
  color: #000000;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 12px;
  margin-right: 3px;
}

.contacts__link {
  color: #d41443;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
}

.footer__contacts {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 43px;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #cccccc;
  margin-bottom: 0;
  padding-top: 22px;
  padding-bottom: 25px;
}
@media screen and (min-width: 772px) {
  .copyright {
    flex-direction: row;
    justify-content: center;
    padding-top: 29px;
    padding-bottom: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .copyright {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}

.copyright__text {
  color: #907e82;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
}

.footer__list {
  margin-bottom: 46px;
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: 772px) {
  .footer__list {
    margin-bottom: 46px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__list {
    margin-bottom: 50px;
  }
}

.footer__item:not(:last-child) {
  margin-right: 28px;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffa5ba;
  width: 34px;
  height: 34px;
}

.footer__icon {
  fill: #ffffff;
  background-color: #ffa5ba;
}

.footer__link:hover {
  background-color: #d41443;
}

html {
  scroll-behavior: smooth;
}

.scroll-up__link {
  position: fixed;
  z-index: 1000;
  bottom: 5%;
  right: 5%;
  border-radius: 50%;
  background: linear-gradient(130deg, rgba(212, 20, 67, 0.2) 50%, rgba(212, 20, 67, 0.5) 50%);
  background-size: 300%;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.scroll-up__link:hover, .scroll-up__link:focus {
  background-position: 100% 0;
}

.scroll-up__icon {
  width: 40px;
  height: 40px;
  fill: #fff;
}

.swiper-container {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 350px;
  margin-right: 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */