<footer class="footer">
    <div class="titles">
        <h3>homemade ice cream made</h3>
        <h1>with passion</h1>
    </div>

    <ul class="footer__list">
        <li>
            <a class="footer__link" href="github" aria-label="ссилка на Гитхаб">
                <svg class="footer__icons" width="34" height="34">
                    <use href="./images/symbol-defs.svg#icon-git"></use>
                </svg>
            </a>
        </li>
        <li>
            <a class="footer__link" href="facebook" aria-label="ссилка на Фейсбук">
                <svg class="footer__icons" width="34" height="34">
                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
        <li>
            <a class="footer__link" href="telegram" aria-label="ссилка на Телеграм">
                <svg class="footer__icons" width="34" height="34">
                    <use href="./images/symbol-defs.svg#icon-telegram"></use>
                </svg>
            </a>
        </li>
    </ul>
    <div class="contacts">
        <span>Feel free to contact</span>
        <p><a href="tel:+61(0)383766284" class="contacts__link">+61(0)383766284</a></p>
        <p class="copyright">
            <span class="contacts__text">© 2020 Ice-Cream.All Rights Reserved.</span>
        </p>
    </div>
</footer>