<footer class="footer ">
    <div class="container">
        <div class="title">
            <h3 class="title__main">homemade ice cream made</h3>
            <h1 class="title__secondary">with passion</h1>
        </div>

        <ul class="footer__list">
            <li class="footer__item">
<a class="footer__link" href="github" aria-label="github's link">
    <svg class="footer__icon" width="20px" height="20px">
        <use href="/images/symbol-defs.svg#icon-git"></use>
    </svg>
</a>
            </li>
            <li class="footer__item">
<a class="footer__link" href="telegram" aria-label="telegram's link">
    <svg class="footer__icon" width="20px" height="20px">
        <use href="/images/symbol-defs.svg#icon-telegram"></use>
    </svg>
</a>
            </li>
            <li class="footer__item">
<a class="footer__link" href="facebook" aria-label="facebook's link">
    <svg class="footer____icon" width="20px" height="20px">
        <use href="/images/symbol-defs.svg#icon-facebook"></use>
    </svg>
</a>
            </li>
        </ul>
        
        
        <div class="contacts">
            <span class="contacts__text">Feel free to contact</span>
            <a href="tel:+61(0)383766284" class="contacts__link">+61(0)383766284</a>
        </div>
        
    </div>
    <p class="copyright">
        <span class="copyright__text">© 2020 Ice-Cream.</span>
        <span class="copyright__rights">All Rights Reserved.</span>
    </p>
     
</footer>